
/* header */

.menu.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  background-color: white;
}

.box-bianco{
  width: 100%;
}

.logo img{
  display: inline-block;
  margin-top: 28%;
  margin-left: 10px
}

.menu.fixed ul li{
  display: inline-block;
  line-height: 100px; 
  padding: 0 20px 0 20px;
}

.menu.fixed ul li a{
  font-weight: 600;
}

.logo:hover{
  border-bottom: 1px solid green;
}
.menu.fixed ul li:hover{
  border-bottom: 1px solid green;
}

.menu-dx{
  text-align: right;
}

/* jumbotron */

.jumbotron{
  background-color: rgb(180, 208, 231);
  padding: 30px;
  height: 90vh;
}

.title-jt{
  font-size: 30px;
}

.jumbo-text{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-align: left;
}

.fa-solid.fa-arrow-down{
  font-size: 30px;
  padding-top: 20px;
}

/* MAIN */

/* sezione piani tariffari */

.piani{
  padding-top: 100px;
}

.title-piani{
  margin-bottom: 30px;
}
.piani h2{
  font-size: 35px;
  margin-bottom: 50px;
}

.fa-solid.fa-o{
  font-size: 15px;
}
.fa-solid.fa-o.clicked{
  color: blue;
  font-weight: 800;
}

.col-piano{
  border: 1px solid grey;
}
.tipologia{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid grey;
}













