
/* header */

.menu.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  background-color: white;
}

.logo img{
  display: inline-block;
  padding: 0 20px 0 20px;
  margin-top: 22%;
}

.menu.fixed ul li{
  display: inline-block;
  line-height: 100px; 
  padding: 0 20px 0 20px;
  border-bottom: 1px solid white;
}

.menu.fixed ul li a{
  font-weight: 600;
}

.menu.fixed ul li:hover{
  border-bottom: 1px solid black;
}

.menu-dx ul li:last-child:hover{
  border-bottom: 1px solid white;
}

.menu-dx{
  text-align: right;
}

/* jumbotron */

.jumbotron{
  background-color: rgb(180, 208, 231);
  padding: 30px;
  height: 90vh;
  margin-top: 100px;
}

.title-jt{
  font-size: 30px;
}

.jumbo-text{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-align: left;
}

.fa-solid.fa-arrow-down{
  font-size: 30px;
  padding-top: 20px;
}

/* MAIN */

/* sezione piani tariffari */

.piani{
  padding-top: 100px;
}

.title-piani{
  margin-bottom: 30px;
}

.piani h2{
  font-size: 35px;
  margin-bottom: 50px;
}

.col-piano{
  border: 1px solid grey;
  width: calc(100%/3 - 10px);
  margin: 0 0 40px 0;
}

.foot-piano{
  position: relative;
  border: 1px solid grey;
  margin-bottom: 40px;
}

.standard{
  margin: 0 15px 40px 15px;
}

.tipologia{
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.text-piano{
  padding: 10px;
  margin-bottom: 15px;
}

.mese{
  color: rgb(148, 159, 168);
}

.ul-piano{
  padding: 15px;
}

.ul-piano li{
  padding: 0 0 15px 5px;
}

.ul-piano li::before{
  content: "\2714 ";
  display: inline-block;
  color: blue;
  display: inline-block;
  margin:0 2px 0 -10px;
}

.box-ps-absolute{
  position: absolute;
  top: 30%;
  right: 2%;
}

.box-ps-absolute .bottone{
  padding: 10px 70px 10px 70px;
}

.margin-neg{
  display: inline-block;
  margin:0 0 0 -20px;
}

.text-piano .bottone{
  margin-left: 10px;
}

/* sezione partner */

.partner{
  margin:50px 0 50px 0;
}

.col-partner{
  padding: 20px;
}

.col-partner p{
  margin-bottom: 50px;
}

.text .bottone{
  margin-left: 10px;
}

/* sezione dropbox business */

.col-bs{
  width: calc(100%/3 - 10px);
  margin: 0 0 40px 0;
  padding: 15px;
}

.fascia-bs{
  margin-top: 50px;
  padding-bottom: 30px;
}

.fascia-bs h2{
  padding-bottom: 50px;
}

/* sponsor */

.col-sponsor, .col-sponsor-scroll{
  height: 400px;
  width: calc(100%/3);
}

.col-sponsor-scroll{
  background-color: rgb(245, 245, 245);
  padding: 30px;
}

.box-img-sp{
  width: 50%;
  height: 50%;
}

.img-sponsor{
  padding: 20%;
  filter: invert(1);
}

.img-sponsor-big{
  padding: 30% 15% 30% 15%;
  filter: invert(1);
}

.logo-scroll{
  width:25%;
}

.col-sponsor-scroll{
  overflow: scroll;
}

.col-sponsor-scroll p{
  margin-bottom: 20px;
}

.col-sponsor-scroll hr{
  width: 10%;
  height: 1px;
  margin: 30px 0 30px 0;
  color: grey;
  background: grey;
  border: 0;
}

#designit{
  background-color: rgb(162, 211, 155);
}

#designit:active{
  border: 10px solid rgb(208, 233, 205);
}

#asu{
  background-color: rgb(97, 8, 43);
}

#asu:active{
  border: 10px solid rgb(124, 3, 52);
}

#uf-florida{
  background-color: rgb(0, 147, 206);
}

#uf-florida:active{
  border: 10px solid  rgb(33, 182, 241) ;
}

#tops, #world{
  background-color: rgb(255, 28, 28);
}

#tops:active, #world:active{
  border: 10px solid rgb(236, 101, 101);
}

#hearts{
  background-color: rgb(180, 208, 231);
}

#hearts:active{
  border: 10px solid rgb(161, 205, 241);
}

#lonely{
  background-color: rgb(13, 36, 129);
}

#lonely:active{
  border: 10px solid rgb(28, 68, 230);
}

#clear{
  background-color:rgb(255, 216, 48) ;
}

#clear:active{
 border: 10px solid rgb(238, 225, 170) ;
}

.col-sponsor-down{
  background-color: rgb(180, 208, 231);
  color:rgb(117, 55, 87);
  padding-top: 50px;
}

.col-sponsor-down h2{
  font-size: 30px;
}

.col-sponsor-down .bottone{
  border: none;
}

/* FAQ */

.faq{
  margin-top: 700px;
  padding-bottom: 80px; ;
}

.title-faq{
  padding:100px 0 30px 0;
  border-bottom: 1px solid grey;
}

.row-faq{
  border-bottom: 1px solid grey;
}

.row-faq span{
  line-height: 100px;
}

.row-faq .p-faq{
  display: none;
  padding-bottom: 20px;
}

.fa-solid.fa-chevron-down{
  position: absolute;
  top: 50px;
  right: 2%;
}

.fa-solid.fa-chevron-up{
  display: none;
  position: absolute;
  top: 50px;
  right: 2%;
}

.row-faq:hover .p-faq{
  display: inline-block;
  
}
.row-faq:hover .fa-solid.fa-chevron-down{
  display: none;
}

.row-faq:hover .fa-solid.fa-chevron-up{
  display: inline-block;
}

/* footer */

footer{
  background-color: black;
  color: white;
  padding-top: 80px;
}

footer h3{
  padding: 0 0 20px 5px;
}

footer ul li{
  padding: 5px;
} 

footer ul li a{
  color: white;
}

.hr-footer{
  display: block;
  width: 50%;
  height: 1px;
  margin: 10px 0 30px 10px;
  color: grey;
  background: grey;
}

.lingua{
  color: grey;
}